[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/owncloud/3rdparty.git
[submodule "activity"]
	path = c_apps/activity
	url = https://github.com/quisa137/oc-activity.git
	branch = stable7
[submodule "c_apps/documents"]
	path = c_apps/documents
	url = https://github.com/quisa137/oc-documents.git
        branch = stable7
[submodule "c_apps/files_texteditor"]
	path = c_apps/files_texteditor
	url = https://github.com/quisa137/oc-files_texteditor.git
        branch = stable7
[submodule "c_apps/gallery"]
	path = c_apps/gallery
	url = https://github.com/quisa137/oc-gallery.git
        branch = stable7
[submodule "c_apps/bookmarks"]
	path = c_apps/bookmarks
	url = https://github.com/quisa137/bookmarks.git
[submodule "c_apps/contacts"]
	path = c_apps/contacts
	url = git@github.com:quisa137/oc-apps-contacts.git
[submodule "c_apps/oc-audit_log"]
	path = c_apps/oc-audit_log
	url = git@github.com:quisa137/oc-audit_log.git
[submodule "c_apps/audit_log"]
	path = c_apps/audit_log
	url = git@github.com:quisa137/oc-audit_log.git
[submodule "c_apps/files_antivirus"]
	path = c_apps/files_antivirus
	url = https://github.com/owncloud/files_antivirus.git
