[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/owncloud/3rdparty.git
[submodule "c_apps/documents"]
	path = c_apps/documents
	url = https://github.com/owncloud/documents.git
	branch = stable7
[submodule "c_apps/files_texteditor"]
	path = c_apps/files_texteditor
	url = https://github.com/owncloud/files_texteditor.git
	branch = stable7
[submodule "c_apps/gallery"]
	path = c_apps/gallery
	url = https://github.com/owncloud/gallery.git
	branch = stable7
[submodule "c_apps/bookmarks"]
	path = c_apps/bookmarks
	url = https://github.com/owncloud/bookmarks.git
	branch = stable7
[submodule "c_apps/contacts"]
	path = c_apps/contacts
	url = https://github.com/owncloud/contacts.git
	branch = stable7
[submodule "c_apps/oc-audit_log"]
	path = c_apps/oc-audit_log
	url = git@github.com:quisa137/oc-audit_log.git
[submodule "c_apps/audit_log"]
	path = c_apps/audit_log
	url = git@github.com:quisa137/oc-audit_log.git
[submodule "c_apps/ncotp"]
	path = c_apps/ncotp
	url = git@github.com:quisa137/oc-ncotp.git
[submodule "c_apps/files_antivirus"]
	path = c_apps/files_antivirus
	url = https://github.com/owncloud/files_antivirus.git
[submodule "c_apps/sbotp"]
	path = c_apps/sbotp
	url = git@github.com:quisa137/oc-sbotp.git
[submodule "c_apps/sb_data_collector"]
	path = c_apps/sb_data_collector
	url = git@github.com:quisa137/oc-sb_datacollector.git
[submodule "c_apps/activity"]
	path = c_apps/activity
	url = https://github.com/owncloud/activity.git
	branch = stable7
