@CHARSET "UTF-8";
.lastloginTb{
	width: 25%;
	border:1px solid #bbb;
	border-collapse:collapse;
}

table.lastloginTb th,table.lastloginTb td {
    border: 1px solid #bbb;
}

table.lastloginTb th {
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

table.lastloginTb td {
    padding: 4px 0px 4px 8px;
}